html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-image: url(http://i144.photobucket.com/albums/r189/skateflip1717/flashing_colors.gif); 
  animation: 0s fadeIn forwards 17s;
  opacity: 0;
  z-index: 1;
}

h1 {
  z-index: 10;
  transition: background-color 2s ease-in-out;
  font-family: 'Assistant', sans-serif;
  font-size: 69px; /* ( ͡° ͜ʖ ͡°) */
  margin: 0;
  padding: 0;
  width: 95%;
  text-align: center;
  overflow-wrap: break-word;
}

.bakal, .l { animation: .196s changeColors infinite; } 
.text { animation: .2875s whiteText forwards 17s; }

.bakal { animation-delay: 8.75s; }

.l {
  display: none;
  transition: all .3s;
}

/* Rapidly change text colors */
@keyframes changeColors {
  0% { color: #FF0000; }
  25% { color: #FE03FF; }
  50% { color: #11FF00; }
  75% { color: #0CFFFF; }
  100% { color: #0005FF; }
}

/* Fade the background in */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Turn the text white with delay */
@keyframes whiteText {
  0% { color: #000; }
  100% { color: #fff; }
}
